@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div style="font-color:white; font-size: 25px; margin-top: 20px; margin-left: 20px">@MyStringValue</div>

    <div class="player-card">
        <div class="title">
            <div class="name">@Rpc.Caller.DisplayName.Truncate(13)</div>
            <div class="center">
                <div class="job">@MyStringValue3</div>
            </div>
        </div>
        <div class="wallet">
            <div class="label">Wallet</div>
            <div class="money">$ @(PlayerPrefab.Components.Get<PlayerStats>().MoneyBase.ToString("N0"))</div>
        </div>
        <div class="bars">
            <div class="bar">
                <div class="fill" style="width:100%; background-color: rgb(180, 71, 71);"></div>
            </div>
            <div class="bar">
                <div class="fill" style="width:100%; background-color: rgb(219, 157, 42);"></div>
            </div>
        </div>
    </div>
</root>

@code
{
    [Property] GameObject PlayerPrefab { get; set; } // Reference my Player Prefab // code to acces my component : @(PlayerPrefab.Components.Get<PlayerStats>().MoneyBase)

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
    [Property, TextArea] public string MyStringValue3 { get; set; } = "Hello World!";


	/// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(MyStringValue, MyStringValue3, PlayerPrefab.Components.Get<PlayerStats>().MoneyBase);
}
